<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <h4 class="card-title mb-4">Đổi mật khẩu</h4>
    <div class="row account-info">
      <div class="col-lg-12 col-md-12 col-12 account-info-item mb-3">
        <label for="matKhauHT">Mật khẩu hiện tại</label>
        <input type="password" id="matKhauHT" formControlName="MatKhauHT" class="account-info-input"
                [ngClass]="{'border-red': f['MatKhauHT'].touched && f['MatKhauHT'].invalid}" placeholder="Mật khẩu hiện tại" />
        <div *ngIf="f['MatKhauHT'].touched && f['MatKhauHT'].invalid" class="error-message">
            <small *ngIf="f['MatKhauHT'].errors?.['required']">Vui lòng nhập mật khẩu hiện tại</small>
            <small *ngIf="f['MatKhauHT'].errors?.['incorrectPassword']">Mật khẩu hiện tại không chính xác</small>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-12 account-info-item mb-3">
        <label for="matKhauMoi">Mật khẩu mới</label>
        <input type="password" id="matKhauMoi" formControlName="MatKhauMoi" class="account-info-input"
                [ngClass]="{'border-red': f['MatKhauMoi'].touched && f['MatKhauMoi'].invalid}" placeholder="Mật khẩu mới" />
        <div *ngIf="f['MatKhauMoi'].touched && f['MatKhauMoi'].invalid" class="error-message">
            <small *ngIf="f['MatKhauMoi'].errors?.['required']">Vui lòng nhập mật khẩu mới</small>
            <small *ngIf="f['MatKhauMoi'].errors?.['minlength']">Mật khẩu mới phải có ít nhất 6 ký tự. </small>
            <small *ngIf="f['MatKhauMoi'].errors?.['passwordComplexity']">Mật khẩu mới phải chứa ít nhất 1 ký tự hoa và 1 ký tự đặc biệt</small>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-12 account-info-item mb-3">
        <label for="xnMatKhauMoi">Xác nhận mật khẩu mới</label>
        <input type="password" id="xnMatKhauMoi" formControlName="XNMatKhauMoi" class="account-info-input"
                [ngClass]="{'border-red': f['XNMatKhauMoi'].touched && f['XNMatKhauMoi'].invalid}" placeholder="Xác nhận mật khẩu mới" />
        <div *ngIf="f['XNMatKhauMoi'].touched && f['XNMatKhauMoi'].invalid" class="error-message">
            <small *ngIf="f['XNMatKhauMoi'].errors?.['required']">Vui lòng xác nhận mật khẩu mới</small>
            <small *ngIf="f['XNMatKhauMoi'].errors?.['mustMatch']">Mật khẩu mới và xác nhận mật khẩu không khớp</small>
        </div>
      </div>
    </div>
    <button class="btn btn-goodcharme-success btn-save">Đổi mật khẩu</button>
  </form>

  <div id="notify" *ngIf="isChangePassword">
    <i class="notify-icon fa-solid fa-circle-check"></i>
    <p class="notify-message">Cập nhật thông tin thành công</p>
</div>
  