.content {
    padding: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
    user-select: none;
}

th i {
    margin-left: 4px;
}

button {
    /* padding: 4px 8px; */
    width: 32px;
    height: 32px;
    margin: 0 4px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

.detail-btn {
    background-color: #4CAF50;
}

.edit-btn {
    background-color: #015198;
}

.delete-btn {
    background-color: #ff0000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 18px 32px 32px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.order-label {
    width: 30%;
}

.order-input {
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    padding: 4px 8px;
    margin: 8px 0;
}

.submit-btn {
    padding: 8px 16px;
    margin: 0 4px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4CAF50;
    height: 40px;
    float: right;
    margin-top: 16px;
    font-weight: 600;
}


/* Pagination */
.pagination-container {
    margin-top: 16px;
}

.pagination-container,
pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    font-size: 20px;
    color: #939393;
}

.pagination /deep/ .ngx-pagination {
    margin: 0;
    padding: 0;
}

.pagination /deep/ .ngx-pagination .current {
    background-color: var(--dashboard-gray); 
    color: white;
    text-align: center;
    min-width: 40px;
    border-radius: 2px;
    margin: 0 8px;
}

.btn-pagination,
.pagination /deep/ .ngx-pagination li a {
    display: block;
    text-decoration: none;
    text-align: center;
    min-width: 40px;
    border-radius: 2px;
    margin: 0 8px;
}

.pagination /deep/ .pagination-previous.disabled:before,
.pagination /deep/ li.pagination-previous a::after {
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

.pagination /deep/ .pagination-next.disabled:after,
.pagination /deep/ li.pagination-next a::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

.pagination /deep/ .pagination-previous.disabled,
.pagination /deep/ .pagination-next.disabled {
    color: #dfdfdf;
    text-decoration: none;
    text-align: center;
    min-width: 40px;
    border-radius: 2px;
    margin: 0 8px;
}

.pagination /deep/ .pagination-previous.disabled:before,
.pagination /deep/ .pagination-next.disabled:after {
    margin: 0;    
}

.pagination /deep/ li.pagination-previous a::before,
.pagination /deep/ li.pagination-next a::after {
    content: none;
}

.btn-pagination {
    padding: 4px 0;
    color: #939393;
    cursor: pointer;
}

.btn-first-page:before,
.btn-last-page::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

.btn-first-page:before {
    content: "\f100";
}

.btn-last-page::after {
    content: "\f101";
}

.btn-first-page:hover,
.btn-last-page:hover {
    background: #e6e6e6;
}

.btn-first-page.disabled,
.btn-last-page.disabled {
    color: #dfdfdf;
    cursor: default;
}

.btn-first-page.disabled:hover,
.btn-last-page.disabled:hover {
    pointer-events: none;
    color: #dfdfdf;
    cursor: default;
    background-color: inherit;
}