.content {
    margin-top: 40px;
    margin-bottom: 60px;
}

/* Category */
.category-menu {
    padding-bottom: 16px;
}

.category_heading {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text-color);
}

.category-list {
    list-style: none;
    font-size: 16px;
    margin: 16px;
    padding-left: 8px;
}

.category-item {
    margin: 12px 0;
}

.category-item_link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
}

.category-item_list {
    list-style: none;
    font-size: 16px;
    margin-left: 16px;
}

.category-item_item {
    margin: 8px 0;
}

.category-item_item-link {
    text-decoration: none;
    color: var(--text-color);
}

.category-item_link.active,
.category-item_item-link.active {
    color: var(--goodcharme-color);
}

.category-item_link:hover,
.category-item_item-link:hover {
    color: var(--goodcharme-color);
}

.category-price {
    margin: 16px;
}

.category-price_inputs {
    display: flex;
    align-items: center;
}

.category-price_inputs span {
    margin: 0 8px;
}

.category-price_input {
    width: 90px;
    height: 36px;
    padding: 0 8px;
    border: 1px solid var(--goodcharme-color);
    outline: none;
    border-radius: 5px;
    font-size: 16px;
}

.category-price_btn {
    min-width: 200px;
    margin-top: 12px;
    text-decoration: none;
}

/* Product */
.row > * {
    padding: 8px;
}
.product-grid{
    background-color: #fff;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    transition: all 0.3s ease 0s;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.product-grid:hover{
    box-shadow:  0 0 20px -10px var(--goodcharme-color);
    transform: translateY(-4px);
    border: 1px solid var(--goodcharme-color);
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-image{ border-radius: 0 0 30px 30px; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 10px;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links{ opacity: 1; }
.product-grid .product-links li{
    margin: 0 0 10px 0;
    transform: rotate(360deg) scale(0);
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links li{ transform: rotate(0) scale(1); }
.product-grid:hover .product-links li:nth-child(3){ transition-delay: 0.1s; }
.product-grid:hover .product-links li:nth-child(2){ transition-delay: 0.2s; }
.product-grid:hover .product-links li:nth-child(1){ transition-delay: 0.3s; }
.product-grid .product-links li a{
    color: #666;
    background-color: #fff;
    font-size: 18px;
    line-height: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:hover{
    color: #fff;
    background-color: var(--goodcharme-color);
}
.product-grid .product-links li button{
    color: #666;
    background-color: #fff;
    font-size: 18px;
    line-height: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    transition: all 0.3s ease 0s;
    border: none;
}
.product-grid .product-links li button:hover{
    color: #fff;
    background-color: var(--goodcharme-color);
}
.product-grid .product-content{
    text-align: center;
    padding: 15px 10px;
}
.product-grid .title{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 6px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--text-color);
}
.product-grid .title a{
    color: var(--text-color);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.product-grid .title a:hover{ color: var(--goodcharme-color); }
.product-grid .price{
    color: #222;
    font-size: 16px;
}
@media screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
}

/* Product list */
.product-list{
    display: flex;
    background-color: #fff;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    transition: all 0.3s ease 0s;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.product-list:hover{
    box-shadow:  0 0 20px -10px var(--goodcharme-color);
    transform: translateY(-4px);
    border: 1px solid var(--goodcharme-color);
}
.product-list .product-list-link{
    width: 15%;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}
/* .product-list:hover .product-list-image{ border-radius: 0 0 30px 30px; } */
/* .product-list .product-list-image{ display: block; } */
.product-list .product-list-link img{
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.product-list-content {
    padding: 16px;
    flex: 1;
    text-align: left;
}
.product-list .title{
    font-size: 20px;
    text-transform: capitalize;
    margin: 8px 0;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--text-color);
}
.product-list .text{
    font-size: 16px;
    margin: 0;
}
.product-list .title a{
    color: var(--text-color);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.product-list .title a:hover{ color: var(--goodcharme-color); }
.product-list .price{
    color: #222;
    font-size: 16px;
}
.product-list-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.product-list-btn .price {
    font-size: 20px;
    padding: 8px 0;
}

/* Notify */
#notify {
    width: 425px;
    height: 225px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.notify-icon {
    font-size: 100px;
    color: #00bfa5;
}

.notify-message {
    font-size: 20px;
    line-height: 1.6;
    color: #fff;
}

.pagination-container {
    margin-top: 16px;
}

.pagination-container,
pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    font-size: 20px;
    color: #939393;
}

.pagination /deep/ .ngx-pagination {
    margin: 0;
    padding: 0;
}

.pagination /deep/ .ngx-pagination .current {
    background-color: var(--goodcharme-color); 
    color: white;
    text-align: center;
    min-width: 40px;
    border-radius: 2px;
    margin: 0 8px;
}

.btn-pagination,
.pagination /deep/ .ngx-pagination li a {
    display: block;
    text-decoration: none;
    text-align: center;
    min-width: 40px;
    border-radius: 2px;
    margin: 0 8px;
}

.pagination /deep/ .pagination-previous.disabled:before,
.pagination /deep/ li.pagination-previous a::after {
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

.pagination /deep/ .pagination-next.disabled:after,
.pagination /deep/ li.pagination-next a::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

.pagination /deep/ .pagination-previous.disabled,
.pagination /deep/ .pagination-next.disabled {
    color: #dfdfdf;
    text-decoration: none;
    text-align: center;
    min-width: 40px;
    border-radius: 2px;
    margin: 0 8px;
}

.pagination /deep/ .pagination-previous.disabled:before,
.pagination /deep/ .pagination-next.disabled:after {
    margin: 0;    
}

.pagination /deep/ li.pagination-previous a::before,
.pagination /deep/ li.pagination-next a::after {
    content: none;
}

.btn-pagination {
    padding: 4px 0;
    color: #939393;
    cursor: pointer;
}

.btn-first-page:before,
.btn-last-page::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

.btn-first-page:before {
    content: "\f100";
}

.btn-last-page::after {
    content: "\f101";
}

.btn-first-page:hover,
.btn-last-page:hover {
    background: #e6e6e6;
}

.btn-first-page.disabled,
.btn-last-page.disabled {
    color: #dfdfdf;
    cursor: default;
}

.btn-first-page.disabled:hover,
.btn-last-page.disabled:hover {
    pointer-events: none;
    color: #dfdfdf;
    cursor: default;
    background-color: inherit;
}

.sort-filter {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 2px;
    margin: 0 -4px 4px;
}

.sort-filter__label {
    color: #555;
    font-size: 14px;
    margin-right: 10px;
}

.sort-filter__btn {
    margin-right: 10px;
    min-width: 90px;
}

.display {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.display-item {
    text-decoration: none;
    display: flex;
    margin: 0 4px;
}

.display-item.active .display-icon{
    color: var(--goodcharme-color);
}

.display-icon {
    color: var(--gray-color);
    font-size: 24px;
}

/* .sort-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.sort-filter__page-number {
    font-size: 14px;
    margin-right: 8px;
}

.sort-filter__page-current {
    color: var(--goodcharme-color);
}

.sort-filter__page-control {
    display: flex;
    width: 72px;
    height: 34px;
}

.sort-filter__page-btn {
    border-radius: 2px;
    border: 1px solid #D5D5D5;
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: white;
}

.sort-filter__page-btn--disable {
    cursor: default;
    background-color: #f9f9f9;
}

.sort-filter__page-btn--disable .sort-filter__page-icon {
    color: #ccc;
}

.sort-filter__page-icon {
    margin: auto;
    font-size: 10px;
    color: #555;
} */

.select-input {
    position: relative;
    min-width: 200px;
    padding: 0 12px;
    height: 36px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 25px;
    left: 0;
}

.select-input__label {
    font-size: 14px;
}

.select-input__icon {
    font-size: 14px;
    color: #4a4a4a;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    top: 38px;
    right: 0;
    left: 0;
    background-color: white;
    list-style: none;
    border-radius: 2px;
    display: none;
    z-index: 1;
    padding: 0;
}

.select-input__item {
    font-size: 14px;
    padding: 12px 16px;
}

.select-input__item:hover {
    color: var(--goodcharme-color);
}

.goodcharme-color {
    color: var(--goodcharme-color);
}