@media (min-width: 992px){
    .product-2-4 {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-2-4 {
        flex: 0 0 auto;
        width: 33%;
    }
}

@media (max-width: 767px) {
    .product-2-4 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.row > * {
    padding: 16px;
}

/* Banner */
.banner {
    overflow: hidden;
    position: relative;
    padding: 0;
}

.banner_list {
    width: 100%;
    display: flex;
    transition: 0.5s;
}

.banner_item {
    width: 100%;
}

.control-btn {
    font-size: 3rem;
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.control-btn:hover {
    color: #fff;
}

.banner_btn-left {
    left: 8px;
}

.banner_btn-right {
    right: 8px;
}

.banner_index {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.banner_index-item {
    border: 2px solid #999;
    padding: 4px;
    margin: 5px;
    border-radius: 50%;
}

.banner_index-active {
    background-color: #999;
}

/* Product */
.product_heading {
    text-align: center;
    font-size: 30px;
    color: var(--text-color);
    padding: 40px 0 20px;
    text-transform: uppercase;
    position: relative;
}
.product_heading::after {
    position: absolute;
    content: "";
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border: 3px solid var(--goodcharme-color);
}
.product-grid{
    background-color: #fff;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    transition: all 0.3s ease 0s;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.product-grid:hover{
    box-shadow:  0 0 20px -10px var(--goodcharme-color);
    transform: translateY(-4px);
    border: 1px solid var(--goodcharme-color);
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-image{ border-radius: 0 0 30px 30px; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 10px;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links{ opacity: 1; }
.product-grid .product-links li{
    margin: 0 0 10px 0;
    transform: rotate(360deg) scale(0);
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links li{ transform: rotate(0) scale(1); }
.product-grid:hover .product-links li:nth-child(3){ transition-delay: 0.1s; }
.product-grid:hover .product-links li:nth-child(2){ transition-delay: 0.2s; }
.product-grid:hover .product-links li:nth-child(1){ transition-delay: 0.3s; }
.product-grid .product-links li a{
    color: #666;
    background-color: #fff;
    font-size: 18px;
    line-height: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:hover{
    color: #fff;
    background-color: var(--goodcharme-color);
}
.product-grid .product-links li button{
    color: #666;
    background-color: #fff;
    font-size: 18px;
    line-height: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    transition: all 0.3s ease 0s;
    border: none;
}
.product-grid .product-links li button:hover{
    color: #fff;
    background-color: var(--goodcharme-color);
}
.product-grid .product-content{
    text-align: center;
    padding: 15px 10px;
}
.product-grid .title{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 6px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--text-color);
}
.product-grid .title a{
    color: var(--text-color);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.product-grid .title a:hover{ color: var(--goodcharme-color); }
.product-grid .price{
    color: #222;
    font-size: 16px;
    font-weight: 600;
}
@media screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
}

/* Collections */
.collections_heading {
    text-align: center;
    font-size: 30px;
    color: var(--text-color);
    padding: 40px 0 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center
}

.collections_heading div {
    width: calc((100% - 200px) / 2);
    height: 1px;
    background: var(--text-color);
}

.collections_header {
    width: 230px;
}

.collections_img {
    width: 100%;
    border-radius: 24px;
    cursor: pointer;
}

.collections_img:hover {
    opacity: 0.8;
}

.collections {
    position: relative;
}

.collections::after {
    position: absolute;
    content: "Xem thêm";
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 40px;
    color: #fff;
    background-color: var(--goodcharme-color);
    cursor: pointer;
    left: 24px;
    bottom: 16px;
}

#notify {
    width: 425px;
    height: 225px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.notify-icon {
    font-size: 100px;
    color: #00bfa5;
}

.notify-message {
    font-size: 20px;
    line-height: 1.6;
    color: #fff;
}