@media (min-width: 992px) {
    .social-form {
        display: flex;
        justify-content: space-between;
    }
    
    .social-form a {
        width: 45%;
    }
}

@media (max-width: 992px) {
    .social-form {
        display: block;
    }

    .social-form a {
        margin: 4px 0;
    }
}

.container {
    height: 80vh;
    display: flex;
}

.input-group-text {
    padding: 10px 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.input-group-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: 10px 0;
    border-radius: var(--bs-border-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.btn:hover{
    --bs-btn-hover-bg: var(--goodcharme-hover);
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.social-form a {
    display: flex;
    align-items: center;
}

.social-form a span {
    flex: 1;
}

.google-icon {
    width: 18px;
}

.btn-google {
    color: var(--text-color);
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.btn-google:hover {
    opacity: 0.8;
}

.form-control:focus {
    outline: 0;
    border-color: var(--border-color);
    box-shadow: 0 0 0 1px  var(--border-color);
}

.is-invalid {
    border-color: red;
    background-image: none;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}