<app-header></app-header>

<div class="container">
    <div class="row py-3 align-items-center">
        <div class="col-md-5 pr-lg-5 mb-3 mb-md-0">
            <img src="/assets/images/login-illustration.png" alt="" class="img-fluid mb-3 d-none d-md-block">
        </div>

        <div class="col-md-7 col-lg-6 ml-auto">
            <form action="" method="post" [formGroup]="loginForm" (submit)="onLogin()">
                <div class="row">
                    <div class="input-group col-lg-12 mb-4 ps-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input 
                            type="text" 
                            placeholder="Tên đăng nhập" 
                            name="username" 
                            formControlName="username" 
                            class="form-control bg-white border-left-0 border-md"
                            [ngClass]="{'is-invalid': loginForm.controls['username'].errors && loginError}"
                            (input)="clearError()"
                        />
                    </div>

                    <div class="input-group col-lg-6 mb-4 ps-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input
                            [type]="showPassword ? 'text' : 'password'"
                            placeholder="Mật khẩu"
                            name="password"
                            formControlName="password"
                            class="form-control bg-white border-left-0 border-md"
                            style="border-right: none;"
                            [ngClass]="{'is-invalid': loginForm.controls['password'].errors && loginError}"
                            (input)="clearError()"
                        />
                        <div class="input-group-append">
                            <span 
                                class="input-group-icon bg-white border-md" 
                                (click)="togglePasswordVisibility()"
                                [ngClass]="{'is-invalid': loginForm.controls['password'].errors && loginError}">
                                <i class="fa" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"></i>
                            </span>
                        </div>
                        <div *ngIf="loginForm.controls['password'].errors && loginError" class="invalid-feedback">
                            Tên đăng nhập hoặc mật khẩu không chính xác.
                        </div>
                    </div>

                    <div class="form-check col-lg-6 mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" formControlName="rememberPassword">
                        <label class="form-check-label" for="rememberPasswordCheck">
                            Lưu mật khẩu
                        </label>
                    </div>

                    <div class="form-check col-lg-6 mb-4 text-end">
                        <a href="" class="ml-2 text-decoration-none text-color text-body">Quên mật khẩu?</a>
                    </div>

                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button class="btn btn-primary btn-block py-2 px-5 bg-goodcharme border-0 w-100">Đăng nhập</button>
                    </div>

                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">Hoặc</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                    <div class="form-group social-form col-lg-12 mx-auto">
                        <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                            <span class="font-weight-bold">Tiếp tục với Facebook</span>
                        </a>
                        <a href="#" class="btn btn-primary btn-block py-2 btn-google">
                            <img src="/assets/images/google-logo.png" alt="" class="google-icon">
                            <span class="font-weight-bold">Tiếp tục với Google</span>
                        </a>
                    </div>

                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold mt-4">Bạn chưa có tài khoản? <a href="register" class="ml-2 text-goodcharme">Đăng ký</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>