.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar_message {
    color: #fff;
    font-size: 20px;
    font-family: 'Portrait', sans-serif;
    padding: 8px 0;
    line-height: 1.6;
    letter-spacing: 3px;
    word-spacing: 8px;
    margin: 0;
}

.top-bar_list {
    list-style: none;
    display: flex;
    margin: 0;
}

.top-bar_item {
    margin: 0 16px;
}

.top-bar_link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.top-bar_icon {
    font-size: 20px;
    padding: 8px;
}

.form-control:focus {
    border-color: var(--goodcharme-color);
}

.nav-link.active {
    color: var(--goodcharme-color);
}

@media (min-width: 576px) {
    .navbar-search {
        margin: 10px;
    }
}

@media (min-width: 768px) {
    .navbar-search {
        margin: 0 30px;
    }
}

@media (min-width: 992px) {
    .navbar-search {
        margin: 0 40px;
    }

    /* .offcanvas-body ul {
        text-transform: uppercase;
    } */
}

.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.radius-5 {
    border-radius: 5px;
}

.nav-link {
    --bs-nav-link-font-size: 16px;
}

.account {
    text-decoration: none;
    color: var(--goodcharme-color);
    justify-content: center;
    align-items: center;
    position: relative;
}

.account:hover {
    color: var(--goodcharme-hover);
}

.account i {
    font-size: 24px;
    margin-left: 16px;
}

.account img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.account span {
    margin-left: 8px;
}

.account ul {
    padding: 0;
    margin: 0;
}

.account:hover .account-menu {
    display: block;
}

.account-menu {
    position: absolute;
    z-index: 1;
    width: 150px;
    list-style: none;
    background-color: white;
    top: calc(100% + 11px);
    right: 0;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    display: none;
}

.account-menu::before {
    content: "";
    border-width: 10px 14px;
    border-style: solid;
    border-color: transparent transparent var(--border-color) transparent;
    position: absolute;
    top: -20px;
    right: 13px;
}

.account-menu::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 20px;
    top: -16px;
    right: 0;
}

.account-menu-item a {
    color: var(--text-color);
    font-size: 14px;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
}

.account-menu a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.account-menu a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.account-menu a:hover {
    color: var(--goodcharme-hover);
    background-color: #fafafa;
}

.btn-login {
    border: none;
}

.btn-login:hover {
    color: var(--goodcharme-hover);
    background-color: #f8f8f8;
}

/* Cart */
.cart-btn {
    font-size: 24px;
    color: var(--goodcharme-color);
    text-decoration: none;
    position: relative;
}

.cart-btn:hover {
    color: var(--goodcharme-hover);
}

.cart-btn:hover .cart-count {
    border: 1px solid var(--goodcharme-hover);
    color: var(--goodcharme-hover);
    opacity: 0.9;
}

.cart-count {
    position: absolute;
    top: 4px;
    right: 0;
    transform: translate(50%, -50%);
    background-color: white;
    border: 1px solid var(--goodcharme-color);
    color: var(--goodcharme-color);
    font-size: 14px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart-warp {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    margin: 0 32px;
}

.header__cart-warp:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 26px;
    color: white;
}

.header__cart-quantity {
    position: absolute;
    min-width: 24px;
    top: -12px;
    right: -8px;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid var(--goodcharme-color);
    color: var(--goodcharme-color);
    background-color: white;
}

.header__cart-list {
    position: absolute;
    z-index: 1;
    width: 400px;
    top: calc(100% + 11px);
    right: -8px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px #e1e1e1;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    border: 1px solid #dee2e6;
}

.header__cart-list::before {
    cursor: pointer;
    content: "";
    position: absolute;
    border-width: 10px 14px;
    border-style: solid;
    border-color: transparent transparent var(--border-color) transparent;
    top: -20px;
    right: 13px;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 20px;
    top: -16px;
    right: 0;
}

.header__cart-list--cart-no-cart {
    height: 240px;
    text-align: center;
}

.header__cart-list--cart-no-cart .header__cart-no-cart-img,
.header__cart-list--cart-no-cart .header__cart-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 40%;
    margin: 60px 0 4px;
    display: block;
    margin: 60px auto 0;
}

.header__cart-no-cart-msg {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: block;
}

.header__cart-heading {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    padding: 12px;
    background-color: var(--border-color);
}

.header__cart-list-item {
    list-style: none;
    max-height: 310px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.header__cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-img {
    width: 42px;
    height: 42px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    padding-left: 12px;
    line-height: 1.5;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header__cart-item-price {
    color: var(--goodcharme-color);
    font-size: 14px;
    font-weight: 500;
}

.header__cart-item-price sup {
    text-decoration: underline;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 12px;
}

.header__cart-item-remove {
    font-size: 14px;
}

.header__cart-item-remove:hover {
    font-weight: 600;
    cursor: pointer;
}

.header__cart-view {
    width: 100%;
    height: 60px;
    background-color: #fdfdfd;
}

.header__cart-view-cart {
    float: right;
    margin: 12px 10px;
}