<footer class="py-5 bg-light" style="margin-top: 60px;" *ngIf="!isAppCartRoute()">
    <div class="container">
        <div class="row">
            <h1 class="text-center text-uppercase fw-semibold text-goodcharme pb-3">Good Charme</h1>
            <div class="col-6 col-md-4 mb-3">
                <h5 class="text-uppercase">Công ty TNHH Good Charme</h5>
                <p>Địa chỉ: 311 Hoàng Văn Thụ, P.2, Q. Tân Bình, Tp.HCM</p>
                <p>MSDN: 0317116797 Ngày cấp 11/01/2022 tại Phòng đăng ký kinh doanh của Sở kế hoạch đầu tư TP. Hồ Chí Minh</p>
                <p>Điện thoại: 1900 636 638</p>
                <p>Email: bosscharme&#64;gmail.com</p>
            </div>
        
            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-uppercase">Chính sách</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 hover-goodcharme">Chính sách vận chuyển</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 hover-goodcharme">Chính sách bảo mật</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 hover-goodcharme">Chính sách đổi trả</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 hover-goodcharme">Chính sách kiểm hàng</a></li>
                </ul>
            </div>
        
            <div class="col-6 col-md-3 mb-3">
                <h5 class="text-uppercase">Đơn vị vận chuyển</h5>
                <div class="nav">
                    <img class="logistic-img" src="/assets/images/ghn.jpg" alt="Giao hàng nhanh">
                    <img class="logistic-img" src="/assets/images/ghtk.png" alt="Giao hàng tiết kiệm">
                    <img class="logistic-img" src="/assets/images/j&t.png" alt="J&T Express">
                    <img class="logistic-img" src="/assets/images/ninjavan.png" alt="Ninja Van">
                    <img class="logistic-img" src="/assets/images/vietnam-post.png" alt="Việt Nam Post">
                    <img class="logistic-img" src="/assets/images/viettel-post.png" alt="Viettel Post">
                </div>
            </div>

            <div class="col-6 col-md-3 mb-3">
                <h5 class="text-uppercase">Theo dõi chúng tôi trên</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="https://www.facebook.com/GoodCharmePerfume" target="_blank" class="nav-link p-0 hover-goodcharme">
                            <i class="fa-brands fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="https://www.instagram.com/goodcharmevietnam/" target="_blank" class="nav-link p-0 hover-goodcharme">
                            <i class="fa-brands fa-square-instagram"></i>
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>