<div class="sidebar">
    <div class="logo d-flex align-items-center">
        <img src="./assets/images/logo.png" alt="">
        <h3>GoodCharme</h3>
    </div>
    <ul>
        <li routerLinkActive="active">
            <a routerLink="dashboard"><i class="fa-solid fa-house"></i>Tổng quan</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="orders"><i class="fa-solid fa-receipt"></i>Đơn hàng</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="products"><i class="fa-solid fa-spray-can-sparkles"></i>Sản phẩm</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="products-type"><i class="fa-solid fa-spray-can-sparkles"></i>Loại sản phẩm</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="discounts"><i class="fa-solid fa-percent"></i>Khuyến mãi</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="customers"><i class="fa-solid fa-users"></i>Khách hàng</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="employees"><i class="fa-solid fa-user-tie"></i>Nhân viên</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="statistics"><i class="fa-solid fa-chart-simple"></i>Thống kê</a>
        </li>
        <li>
            <a href="login"><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a>
        </li>
    </ul>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
