.back-link {
    font-size: 24px;
    color: #000;
}

.back-link:hover {
    opacity: 0.8;
}

.heading {
    flex: 1;
    text-align: center;
}

.add-btn:hover {
    opacity: 0.9;
}

.product-form {
    padding: 16px;
    width: 70%;
}

.product-image {
    width: 30%;
    text-align: center;
}

.product-img {
    width: 80%;
    border: 1px solid #ddd;
}

.product-label {
    width: 30%;
}

.product-input {
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    padding: 4px 8px;
    margin: 8px 0;
}

.error-message {
    display: block;
    text-align: right;
    color: red;
    margin-bottom: 8px;
}

.submit-btn {
    padding: 8px 16px;
    margin: 0 4px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4CAF50;
    height: 40px;
    float: right;
    margin-top: 16px;
    font-weight: 600;
}