<section class="ftco-section my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters mb-5">
                        <div class="col-md-12">
                            <div class="contact-wrap w-100 p-4">
                                <h3 class="mb-4">Liên hệ</h3>
                                    <div id="form-message-warning" class="mb-4"></div> 
                                <div id="form-message-success" class="mb-4">
                                    Your message was sent, thank you!
                                </div>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Họ tên</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Họ tên">
                                            </div>
                                        </div>
                                        <div class="col-md-6"> 
                                            <div class="form-group">
                                                <label class="label" for="email">Email</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Tiêu đề</label>
                                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Tiêu đề">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Nội dung</label>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Nội dung"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group text-right">
                                                <input type="submit" value="Gửi" class="btn btn-goodcharme-success mb-0" style="width: 130px;">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="dbox w-100 text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                    <a href="https://maps.app.goo.gl/1UJ8srQ2rKXFmLkL6" target="_blank">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-map-marker"></span>
                                        </div>
                                    </a>
                                </div>
                                <div class="text">
                                    <p><span>Địa chỉ:</span>
                                        <a href="https://maps.app.goo.gl/1UJ8srQ2rKXFmLkL6" target="_blank">
                                            Trường Đại học Tài chính - Marketing
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dbox w-100 text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                    <a href="tel://0373485725">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                    </a>
                                </div>
                                <div class="text">
                                    <p><span>Điện thoại:</span> <a href="tel://0373485725"> 2121001000</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dbox w-100 text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                    <a href="mailto:ltmyhau@gmail.com">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-paper-plane"></span>
                                        </div>
                                    </a>
                                </div>
                                <div class="text">
                                    <p><span>Email:</span> <a href="mailto:ltmyhau@gmail.com"> ltmyhau&#64;gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>